prometheus:
  service:
    type: NodePort
    nodePort: 30081

grafana:
  service:
    type: NodePort
    nodePort: 30082

alertmanager:
  enabled: true
  service:
    type: NodePort
    nodePort: 30083

  # The configuration must be under this 'config' block for the Helm chart
  config:
    global:
      resolve_timeout: 5m

    route:
      group_by: ['alertname', 'namespace']
      group_wait: 10s
      group_interval: 1m
      repeat_interval: 5m
      receiver: 'slack-notifications'
      routes:
        # Note: Change 'null' to 'slack-notifications' if you want to 
        # use the Watchdog alert to verify the connection immediately.
        - matchers:
            - alertname = "Watchdog"
          receiver: 'slack-notifications' 

    receivers:
      - name: 'slack-notifications'
        slack_configs:
          - api_url: '__SLACK_WEBHOOK__'
            channel: '#alerts'
            send_resolved: true
            icon_emoji: ':robot_face:'
            title: '{{ .CommonAnnotations.summary }}'
            text: >-
              {{ range .Alerts }}
              *Alert:* {{ .Annotations.summary }}
              *Description:* {{ .Annotations.description }}
              *Severity:* {{ .Labels.severity }}
              *Status:* {{ .Status }}
              {{ end }}