grafana:
  service:
    type: NodePort
    nodeport: 30081
  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s/grafana/"
      serve_from_sub_path: true

prometheus:
  service:
    type: NodePort
    nodeport: 30082
  prometheusSpec:
    routePrefix: /prometheus
    externalUrl: "/prometheus/"

alertmanager:
  service:
    type: NodePort
    nodeport: 30083
  alertmanagerSpec:
    routePrefix: /alertmanager
    externalUrl: "/alertmanager/"

  config:
    global:
      resolve_timeout: 5m

    route:
      group_by: ['alertname', 'namespace']
      group_wait: 10s
      group_interval: 1m
      repeat_interval: 5m
      receiver: 'slack-notifications'
      routes:
        # Note: Change 'null' to 'slack-notifications' if you want to 
        # use the Watchdog alert to verify the connection immediately.
        - matchers:
            - alertname = "Watchdog"
          receiver: 'slack-notifications' 

    receivers:
      - name: 'slack-notifications'
        slack_configs:
          - api_url: '__SLACK_WEBHOOK__'
            channel: '#alerts'
            send_resolved: true
            icon_emoji: ':robot_face:'
            title: '{{ .CommonAnnotations.summary }}'
            text: >-
              {{ range .Alerts }}
              *Alert:* {{ .Annotations.summary }}
              *Description:* {{ .Annotations.description }}
              *Severity:* {{ .Labels.severity }}
              *Status:* {{ .Status }}
              {{ end }}