prometheus:
  service:
    type: NodePort
    nodePort: 30081

grafana:
  service:
    type: NodePort
    nodePort: 30082

alertmanager:
  service:
    type: NodePort
    nodePort: 30083

  alertmanagerSpec:
    config:
      global:
        resolve_timeout: 5m

      route:
        receiver: slack-notifications
        group_by: ["alertname", "namespace"]
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 5m

      receivers:
        - name: slack-notifications
          slack_configs:
            - api_url: "__SLACK_WEBHOOK__"
              channel: "#alerts"
              send_resolved: true
              title: "{{ .CommonAnnotations.summary }}"
              text: >-
                {{ range .Alerts }}
                *Alert:* {{ .Annotations.summary }}
                *Description:* {{ .Annotations.description }}
                *Severity:* {{ .Labels.severity }}
                *StartsAt:* {{ .StartsAt }}
                {{ end }}