- hosts: all
  become: yes
  gather_facts: no

  tasks:


    - name: Fix broken dpkg if exists
      raw: |
        dpkg --configure -a || true

 
    - name: Wait for apt lock to be released
      raw: |
        while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do
          echo "Waiting for apt lock..."
          sleep 5
        done


    # -------------------------
    # Disable swap
    # -------------------------
    - name: Disable swap
      raw: |
        set -e
        swapoff -a || true
        sed -i.bak '/ swap /s/^/#/' /etc/fstab

    # -------------------------
    # Kernel modules + sysctl
    # -------------------------
    - name: Kernel + sysctl setup
      raw: |
        set -e
        mkdir -p /etc/modules-load.d
        echo -e "overlay\nbr_netfilter" > /etc/modules-load.d/k8s.conf
        modprobe overlay
        modprobe br_netfilter

        cat <<EOF >/etc/sysctl.d/k8s.conf
        net.bridge.bridge-nf-call-iptables = 1
        net.ipv4.ip_forward = 1
        EOF
        sysctl --system

    # -------------------------
    # System packages + containerd
    # -------------------------
    - name: Install containerd
      raw: |
        set -e
        export DEBIAN_FRONTEND=noninteractive

        apt-get update -y
        apt-get install -y containerd

        mkdir -p /etc/containerd
        containerd config default > /etc/containerd/config.toml
        sed -i 's/SystemdCgroup = false/SystemdCgroup = true/' /etc/containerd/config.toml

        systemctl daemon-reexec
        systemctl restart containerd
        systemctl enable containerd

    # -------------------------
    # Kubernetes repository
    # -------------------------
    - name: Add Kubernetes repo
      raw: |
        set -e
        export DEBIAN_FRONTEND=noninteractive

        apt-get install -y ca-certificates curl gpg        
        mkdir -p /etc/apt/keyrings

        curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.30/deb/Release.key \
          | gpg --dearmor | tee /etc/apt/keyrings/kubernetes-apt-keyring.gpg

        echo "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.30/deb/ /" \
          | tee /etc/apt/sources.list.d/kubernetes.list
     

    # -------------------------
    # Kubernetes components
    # -------------------------
    - name: Install Kubernetes components
      raw: |
        set -e
        export DEBIAN_FRONTEND=noninteractive

        apt-get update -y
        apt-get install -y --no-install-recommends kubelet kubeadm kubectl

        apt-mark hold kubelet kubeadm kubectl
        systemctl enable kubelet --now kubelet || true