---
- name: Deploy application to Kubernetes cluster
  hosts: master
  become: yes

  tasks:

    - name: Ensure kubeconfig directory exists for ubuntu user
      file:
        path: /home/ubuntu/.kube
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: '0755'

    - name: Remove kubeconfig directory if it exists
      file:
        path: /home/ubuntu/.kube/config
        state: absent

    - name: Copy admin kubeconfig for kubectl access
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/ubuntu/.kube/config
        owner: ubuntu
        group: ubuntu
        mode: '0600'
        remote_src: yes

    - name: Copy Kubernetes manifests to master
      copy:
        src: ../k8s-manifests/
        dest: /home/ubuntu/k8s-manifests/
        owner: ubuntu
        group: ubuntu


    - name: Apply Kubernetes manifests
      become_user: ubuntu
      shell: |
        kubectl apply -f /home/ubuntu/k8s-manifests/
