---
- name: Deploy application to Kubernetes cluster
  hosts: master
  become: yes
  
  tasks:

    - name: Copy manifests
      copy:
        src: ../k8s-manifests/
        dest: /home/ubuntu/k8s-manifests/
        owner: ubuntu
        group: ubuntu

    - name: Render Deployment template
      template:
        src: ../k8s-manifests/app1-deployment.yaml.j2
        dest: /home/ubuntu/k8s-manifests/app1-deployment.yaml
        owner: ubuntu
        group: ubuntu

    -name: Render monitoring ingress
     template:
       src: ../k8s-manifests/monitoring-ingress.yaml.j2
       dest: /home/ubuntu/k8s-manifests/monitoring-ingress.yaml      
       owner: ubuntu
       group: ubuntu

    - name: Apply Kubernetes manifests
      become_user: ubuntu
      shell: kubectl apply -f /home/ubuntu/k8s-manifests/