---
- name: Deploy application to Kubernetes cluster
  hosts: master
  become: yes

  tasks:

    - name: Ensure kubeconfig directory exists for ec2-user
      file:
        path: /home/ec2-user/.kube
        state: directory
        owner: ec2-user
        group: ec2-user
        mode: 0755

    - name: Copy admin kubeconfig for kubectl access
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/ec2-user/.kube/config
        owner: ec2-user
        group: ec2-user
        mode: 0644
        remote_src: yes

    - name: Copy Kubernetes manifests to master
      copy:
        src: ../k8s-manifests/
        dest: /home/ec2-user/k8s-manifests/
        owner: ec2-user
        group: ec2-user


    - name: Apply Kubernetes manifests
      become_user: ec2-user
      shell: |
        kubectl apply -f /home/ec2-user/k8s-manifests/
