---
- name: Deploy application to Kubernetes cluster
  hosts: master
  become: yes
  
  tasks:

    - name: Copy manifests
      copy:
        src: ../k8s-manifests/
        dest: /home/ubuntu/k8s-manifests/
        owner: ubuntu
        group: ubuntu

    - name: Render Deployment template
      template:
        src: ../k8s-manifests/app-deployment.yaml.j2
        dest: /home/ubuntu/k8s-manifests/app1-deployment.yaml
        owner: ubuntu
        group: ubuntu

    # --------------------------------------------------
    # Apply NON-INGRESS resources first (SAFE)
    # --------------------------------------------------
    - name: Apply application deployment
      become_user: ubuntu
      shell: kubectl apply -f /home/ubuntu/k8s-manifests/app-deployment.yaml

    - name: Apply application service
      become_user: ubuntu
      shell: kubectl apply -f /home/ubuntu/k8s-manifests/app-service.yaml

    - name: Apply application ingress
      become_user: ubuntu
      shell: kubectl apply -f /home/ubuntu/k8s-manifests/app-ingress.yaml