- hosts: master
  become: yes
  gather_facts: no  

  tasks:
    - name: Initialize Kubernetes master
      raw: |
        kubeadm init \
          --pod-network-cidr=10.244.0.0/16 \
          --ignore-preflight-errors=all

    - name: Setup kubeconfig for ec2-user
      raw: |
        mkdir -p /home/ec2-user/.kube
        cp /etc/kubernetes/admin.conf /home/ec2-user/.kube/config
        chown ec2-user:ec2-user /home/ec2-user/.kube/config

    - name: Install Flannel network
      raw: |
        export KUBECONFIG=/etc/kubernetes/admin.conf
        kubectl apply -f https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml