- hosts: master
  become: yes
  tasks:

    - name: Initialize Kubernetes cluster
      command: kubeadm init --pod-network-cidr=192.168.0.0/16
      args:
        creates: /etc/kubernetes/admin.conf

    - name: Setup kubectl for ec2-user
      shell: |
        mkdir -p /home/ec2-user/.kube
        cp /etc/kubernetes/admin.conf /home/ec2-user/.kube/config
        chown ec2-user:ec2-user /home/ec2-user/.kube/config

    - name: Install Calico CNI
      become_user: ec2-user
      command: kubectl apply -f https://docs.projectcalico.org/manifests/calico.yaml

    - name: Get join command
      command: kubeadm token create --print-join-command
      register: join_cmd

    - name: Save join command
      set_fact:
        join_command: "{{ join_cmd.stdout }}"
